body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000; 
    text-align: center;
    color: white;
}

#viewImagesButton {
    padding: 15px 30px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#viewImagesButton:hover {
    background-color: #005f73;
}

#gallery {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    margin: 10px;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 5px solid #ffcc00;
}

.gallery img:hover {
    transform: scale(1.05);
}

#lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    text-decoration: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 1);
}

#welcomeMessage {
    font-size: 24px;
    margin: 20px;
    color: #008CBA;
    display: none;
    animation: welcomeAnimation 2s ease-in-out;
}

@keyframes welcomeAnimation {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
